{% extends 'subwayapp/base.html' %}

{% block content %}
    <h1>입력해라!</h1>
    <form action="{% url 'matching'%}" method="POST">
        {% csrf_token %}
        <input name="infoInput" type="hidden" value="0">
        <input name="subwayLineNumber" placeholder="호선"/>
        <br/>
        <input name="trainNumber" placeholder="열차번호"/>
        <br/>
        <input name="getOffStationName" placeholder="내리는 역"/>
        <br/>
        <input name="userNickname" placeholder="별명"/>
        <br/>
        <br/>
        <button type="submit">체크하기</button>
    </form>

    <div>
        <h1 id="arriveTimeSec">{{ arriveTimeSec }}</h1>
    </div>

<script type="text/javascript">
$(document).ready(function requestData(){
    var arriveTimeSec = $("arriveTimeSec").attr('name')
    $.ajax({
        type: "post",
        url : '{% url 'matching' %}',
        data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'infoInput': '1',
        'arriveTimeSec': '{{ arriveTimeSec }}',
        },
        datatype:'json',
        success: function(data){
            var arriveTimeSec = data['arriveTimeSec'];
            $("#arriveTimeSec").html(arriveTimeSec);

            setTimeout(requestData, 3000);
        },
        error: function(request, status, error){
            alert('ajax 통신실패');
            alert(error);
        }
   })
});
</script>

{% endblock %}